
<% if current_user %>
    <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
        <p style="display:none">
            <small><%= form.label :your_name %><br></small>
            <%= form.text_field :commenter, :value => current_user.name %>
        </p>
        <p>
            <small><%= form.label :comment %><br></small>
            <%= form.text_area :body %>
        </p>
        <p>
            <%= form.submit %>
        </p>
    <% end %>
<% else %>
    <div class='alert-success title'> Sign up to comment!</div>
<% end %>
