<div class='container'>
    <div align='left'>
        <%= link_to 'Home', articles_path %>
    </div>
    <h3> Create a new blog post </h3>

    <%= form_with scope: :article, url: articles_path, local: true do |f| %>
        <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
        </p>

        <p>
        <%= f.label :content %><br>
        <%= f.text_area :content, cols: "30", rows: "10" %>
        </p>

        <p>
        <%= f.label :post_date %><br>
        <%= f.date_field :post_date %>
        </p>

        <p>
        <%= f.submit %>
        </p>
    <% end %>
</div>
